body {
	font-family: 'Open Sans', sans-serif;
	background-color: #000000;
	color: #000000;
	font-size: 13px;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	background: transparent;
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	outline: 0;
}
h1 {
	font: 600 50px "Open Sans", sans-serif;
	letter-spacing: -3px;
	margin-bottom: 0px;
}
h2 {
	font: 400 30px "Open Sans";
	letter-spacing: -2px;
}
h3 {
	font: 600 20px "Open Sans";
	letter-spacing: -1px;
}
p {
	font-family: "Open Sans", sans-serif;
	font-size: 15px;
	line-height: 22px;
	color: #888888;
	margin: 10px 0;
}
a {
	color: #000000;
	font-weight: 600;
	text-decoration: none;
}
p a {
	color: #000000;
	text-decoration: none;
}
* { 
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
	
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
	user-drag: none;
}

.stitched {
	padding: 20px;
	margin: 30px;
	background: #ffffff;
	color: #000000;
	font-size: 21px;
	font-weight: bold;
	line-height: 1.3em;
	border: 2px dashed #aaa;
	border-radius: 10px;
	box-shadow: 0 0 0 4px #ffffff, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
	font-weight: normal;
}
#game {
	width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.container {
	display: inline-block;
	margin: 10px;
}
a:hover {
    color: #555555;
}
.logo {
	margin: 15px;
}
#header {
    text-align: center;
}
#time {
	margin-top: 30px;
	display: inline-block;
	width: auto;
	text-align: center;
}

.axis path {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}
.axis .axis-label {
	font-size: 10px;
}
.title {
	font-weight: bold;
	font-size: 10px;
}
.tick {
	font-weight: bold;
	font-size: 10px;
}
.tick line {
	stroke: gray;
	opacity: 0.6;
}

svg {
	
}

#graphs {
	display: inline-block;
}